// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.site-footer {
  padding: spacing(5) 0;
  border-top: border(default);
  background: #fff;
  color: color(secondary);
  font-size: font-size(small);

  a {
    border-bottom: 1px solid transparent;
    color: inherit;
    transition: border-bottom 0.2s;

    &:hover {
      border-color: currentColor;
    }
  }
}

.site-widget {
  margin-bottom: spacing(4);

  @include media-breakpoint-down(xs) {
    text-align: center;
  }

  h4 {
    font-weight: font-weight(light);
    font-size: $h5-font-size;
  }

  &-follow {
    flex: 3 0 25rem;
    margin: 0 spacing(3);

    @include media-breakpoint-down(md) {
      order: 3;
      margin-bottom: spacing(4);
    }

    form {
      display: flex;
      margin-bottom: spacing(3);
    }

    input {
      flex-grow: 1;
      padding: spacing(2) spacing(3);
      border: border(default);
      border-top-left-radius: $btn-radius;
      border-bottom-left-radius: $btn-radius;
      color: inherit;
      transition: border-color 0.2s;

      &:focus {
        outline: 0;
        border: border(dark);
      }
    }

    button {
      border: border(default);
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    ul {
      margin-right: (-spacing(1));
      margin-left: (-spacing(1));
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block;
      margin: 0 spacing(1) spacing(2);

      a {
        display: flex;
        align-items: center;
        padding: spacing(2);
        border: border(default);
        opacity: 0.9;
      }
    }
  }

  &-tags {
    flex: 1 0 10rem;
    margin: 0 1rem;

    @include media-breakpoint-down(xs) {
      margin-bottom: spacing(4);
    }

    ul {
      padding: 0 spacing(1);
      list-style: none;
    }

    li {
      display: inline-block;
      margin-bottom: spacing(2);

      &:not(:last-child) {
        margin-right: spacing(1);

        &::after {
          content: '\002C';
        }
      }
    }

    a::before {
      content: '\0023';
    }
  }

  &-links {
    flex: 1 0 10rem;
    margin: 0 1rem;

    @include media-breakpoint-down(xs) {
      margin-bottom: spacing(4);
    }

    ul {
      padding: 0 spacing(1);
      list-style: none;
    }
  }

  &-subscription {
    flex: 1 0 8rem;
    margin: 0 1rem;

    img {
      display: block;
      margin: 0 auto;
      max-width: 8rem;
    }
  }
}

.site-info {
  display: flex;
  align-items: center;
  padding-top: spacing(3);
  border-top: border(default);

  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }

  ul {
    flex-grow: 1;
    margin: 0 spacing(2);
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: spacing(1);
  }

  @keyframes beat {
    from,
    to {
      // transform: scale(0.95);
      transform: scale3d(1, 1, 1);
    }

    50% {
      // transform: scale(1.4);
      transform: scale3d(1.4, 1.4, 1.4);
    }
  }

  .heart {
    display: inline-block;
    color: color(accent);
    font-weight: normal;
    font-style: normal;
    animation: beat 0.4s ease-in-out infinite;
  }
}

//   &-follow {
//     @include column((lg: 5));
//     @include media-breakpoint-down(md) {
//       margin-bottom: spacing(4);
//     }

//     form {
//       margin-bottom: spacing(3);
//     }

//     ul {
//       margin-right: (- spacing(1));
//       margin-left: (- spacing(1));

//       @include list-unstyled;
//     }

//     li {
//       display: inline-block;
//       margin: 0 spacing(1) spacing(2);

//       a {
//         display: flex;
//         align-items: center;
//         border: $btn-border-width solid transparent;

//         user-select: none;

//         @include button-size($btn-padding-x-sm, $btn-padding-x-sm, $font-size-sm, $btn-line-height-sm, $btn-border-radius-sm);
//         @include button-outline-variant(theme-color-level('secondary', -3));
//       }
//     }
//   }
