// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.site-footer {
  padding: spacing(5) 0;
  border-top: border(default);
  background: #fff;
  color: color(muted);
  font-size: font-size(small);

  a {
    border-bottom: 1px solid transparent;
    color: inherit;
    transition: border-bottom 0.2s;

    &:hover {
      border-color: currentColor;
    }
  }
}

.site-widget {
  margin-bottom: spacing(4);

  @include row;

  @include media-breakpoint-down(xs) {
    text-align: center;
  }

  h4 {
    font-weight: font-weight(light);
    font-size: $h5-font-size;
  }

  &-follow {
    flex: 3 1 25rem;
    margin: 0 spacing(3);

    @include media-breakpoint-down(md) {
      flex-basis: 100%;
      margin-bottom: spacing(4);
    }

    form {
      display: flex;
      margin-bottom: spacing(3);
    }

    input {
      flex-grow: 1;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: font-size(base);
    }

    button {
      border: $input-border;
      border-left: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      color: color(muted);
    }

    ul {
      margin-right: (-spacing(1));
      margin-left: (-spacing(1));
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block;
      margin: 0 spacing(1) spacing(2);

      a {
        display: flex;
        align-items: center;
        padding: spacing(2);
        border: border(default);
        opacity: 0.9;
      }
    }
  }

  &-tags {
    flex: 1 1 12rem;
    margin: 0 spacing(3);

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
      margin-bottom: spacing(4);
    }

    ul {
      padding: 0 spacing(1);
      list-style: none;
    }

    li {
      display: inline-block;
      margin-bottom: spacing(2);

      &:not(:last-child) {
        margin-right: spacing(1);

        &::after {
          content: '\002C';
        }
      }
    }

    a::before {
      content: '\0023';
    }
  }

  &-links {
    flex: 1 1 12rem;
    margin: 0 spacing(3);

    @include media-breakpoint-down(xs) {
      flex-basis: 100%;
      margin-bottom: spacing(4);
    }

    ul {
      padding: 0 spacing(1);
      list-style: none;
    }

    svg {
      margin-right: spacing(1);
      vertical-align: middle;
    }
  }

  &-subscription {
    flex: 1 1 6rem;
    margin: 0 spacing(3);

    img {
      display: block;
      margin: 0 auto;
      max-width: 8rem;
    }
  }
}

.site-info {
  display: flex;
  align-items: center;
  padding-top: spacing(3);
  border-top: border(default);

  @include media-breakpoint-down(xs) {
    flex-direction: column;
  }

  ul {
    flex-grow: 1;
    margin: 0 spacing(2);
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: spacing(1);
  }

  @keyframes beat {
    from,
    to {
      // transform: scale(0.95);
      transform: scale3d(1, 1, 1);
    }

    50% {
      // transform: scale(1.4);
      transform: scale3d(1.4, 1.4, 1.4);
    }
  }

  .heart {
    display: inline-block;
    color: color(accent);
    font-weight: normal;
    font-style: normal;
    animation: beat 0.4s ease-in-out infinite;
  }
}
