// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.site-header {
  position: relative;
}

.site-nav {
  background-color: color(dark);

    a {
      color: rgba(color('light'), 0.75);

      &:hover,
      &[aria-current='page'] {
        color: rgba(color('light'), 1);
      }
    }

  > .container {
    display: flex;
    align-items: center;
    color: color('light');
  }

  .nav-brand {
    display: flex;
    align-items: center;
    padding: space(2) 0;
    margin-right: space();
    font-size: $font-size-large;

    img {
      margin-right: space(1);
    }
  }

  .nav-menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    a {
      display: inline-block;
      padding: space(2);
    }
  }

  @include media-breakpoint-down(sm) {
    > .container {
      flex-direction: column;
    }

    .nav-brand {
      margin-right: 0;
    }

    .nav-menu {
      max-width: 100%;
      white-space: nowrap;
      overflow-x: auto;
      scrollbar-width: none;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none;
      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        #000 8%,
        #000 92%,
        rgba(0, 0, 0, 0)
      );

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.site-heading {
  text-align: center;
  color: color('light');
}

.site-cover {
  position: absolute !important;
  top: 0;
  z-index: -1;
  width: 100%;
}
