// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.site-header {
  // for nav fixed
  padding-top: $nav-height;
}

.site-cover {
  position: absolute !important;
  top: 0;
  z-index: z-index(low);
  width: 100%;
  height: $cover-height;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z-index(high);
    content: '';
  }

  &::before {
    background: $cover-mask-1;
    opacity: 0.6;
  }

  &::after {
    background: $cover-mask-2;
  }

  & + .site-header .site-lead {
    color: #fff;
    text-shadow: 0 0 0.25rem color(dark);
  }
}

.site-nav {
  position: fixed;
  top: 0;
  z-index: z-index(highest);
  width: 100%;
  background: $nav-bg;
  box-shadow: shadow(light);

  > .container {
    display: flex;
    align-items: center;
    height: $nav-height;
  }

  .nav-brand {
    display: flex;
    align-items: center;
    padding: $nav-brand-padding 0;
    color: $nav-color;
    font-size: $nav-brand-font-size;

    img {
      margin-right: spacing(2);
      width: $nav-brand-height;
      height: $nav-brand-height;
    }
  }

  .nav-menu {
    display: flex;
    flex: 1 0 0;
    margin: 0 spacing(3);
    padding: 0 spacing(1);
    list-style: none;

    @include media-breakpoint-down(xs) {
      overflow-x: auto;
      margin: 0 spacing(2);
      white-space: nowrap;

      mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        #000 spacing(3),
        #000 93%,
        rgba(0, 0, 0, 0)
      );
      -webkit-overflow-scrolling: touch;
      -ms-overflow-scrolling: touch;
      -ms-overflow-style: none;

      // scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    a {
      display: inline-block;
      padding: spacing(2);
      color: rgba($nav-color, 0.75);

      &:hover,
      &[aria-current='page'] {
        color: rgba($nav-color, 1);
      }
    }
  }

  .nav-search {
    input {
      padding: spacing(1) spacing(1) spacing(1) spacing(4);
      width: spacing(4);
      border: 0;
      border-radius: spacing(1);
      background-color: transparent;
      background-image: url(escape-svg(
        '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="#{$nav-color}" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>'
      ));
      background-position: spacing(1) center;
      background-size: spacing(3);
      background-repeat: no-repeat;
      color: $nav-color;
      font-size: font-size(base);
      line-height: line-height(dense);
      transition: width 0.2s;

      -webkit-appearance: textfield;

      &::-webkit-search-decoration {
        -webkit-appearance: none;
      }

      &:focus,
      &:not(:placeholder-shown) {
        max-width: 30vw;
        width: 10rem;
        outline: 0;
        background-color: rgba($nav-color, 0.25);
      }
    }
  }

  // &.scrolled {
  //   > .container {
  //     height: $nav-scrolled-height;
  //   }

  //   .nav-brand {
  //     font-size: $nav-scrolled-brand-font-size;

  //     img {
  //       margin-right: spacing(2);
  //       width: $nav-scrolled-brand-height;
  //       height: $nav-scrolled-brand-height;
  //     }
  //   }
  // }
}

// jumbotron or masthead
.site-lead {
  padding: 10vw 0;
  text-align: center;
  font-size: font-size(xlarge);

  h1 {
    font-size: $h1-font-size * 1.25;
  }
}
