// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// https://github.com/sanographix/rin/blob/master/src/scss/components/_button.scss
// https://github.com/twbs/bootstrap/blob/master/scss/mixins/_buttons.scss

.btn {
  @extend %button;
}

@mixin button($color) {
  border-color: $color;
  color: $color;

  &:hover {
    background: $color;
    color: yiq($color);
  }
}

@each $name, $color in $colors {
  .btn-#{$name} {
    @include button($color);
  }
}

.btn-clear {
  border-color: transparent;

  &:hover {
    background: transparent;
    color: inherit;
    opacity: 0.9;
  }
}

.btn-sm {
  padding: ($button-padding-y * 0.875) ($button-padding-x * 0.875);
  font-size: ($button-font-size * 0.875);
}

.btn-lg {
  padding: ($button-padding-y * 1.25) ($button-padding-x * 1.5);
  font-size: ($button-font-size * 1.25);
}

.btn-pill {
  border-radius: radius(pill);
}
