// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
  position: relative;
  display: flex;
  overflow: hidden;
  flex: 1 1 $card-width;
  flex-direction: column;
  margin: 0 $card-margin ($card-margin * 2);
  border-radius: $card-radius;
  background: $card-bg;
  box-shadow: $card-shadow;
  transition: box-shadow 0.3s, transform 0.3s, flex 0.3s;
  will-change: transform;

  &:hover {
    box-shadow: $card-hover-shadow;
    transform: translate(0, -0.125rem);
  }

  &-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: z-index(high);
  }

  &-image {
    max-height: 25rem;
    background-color: color(light);
    object-fit: cover;
  }

  &-main {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
  }

  &-header {
    padding: $card-padding $card-padding 0;

    > span {
      color: color(muted);
      text-transform: uppercase;
    }

    > h3 {
      @include ellipsis;
    }
  }

  &-content {
    flex: 1 0 0;
    padding: 0 $card-padding;
  }

  &-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $card-padding;

    > ul {
      z-index: z-index(higher);
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      li ~ li {
        margin-left: (0 - spacing(3));
        transition: margin-left 0.2s;
      }

      span {
        border: border(double);
        border-radius: radius(circle);
        vertical-align: middle;
      }

      &:hover {
        li ~ li {
          margin-left: spacing(1);
        }
      }
    }

    > small {
      color: color(muted);
    }
  }
}
