// -----------------------------------------------------------------------------
// This file contains all application-wide Sass functions.
// -----------------------------------------------------------------------------

// functions

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

@function yiq($color, $dark: gray(7), $light: gray(1), $threshold: 150) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

  @return if($yiq >= $threshold, $dark, $light);
}

@function rem($pixels, $root: 16px) {
  @return ($pixels / $root * 1rem);
}

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

@function urlencode($input) {
  $map: (
    '%': '%25',
    '<': '%3C',
    '>': '%3E',
    ' ': '%20',
    '!': '%21',
    '*': '%2A',
    "'": '%27',
    '"': '%22',
    '(': '%28',
    ')': '%29',
    ';': '%3B',
    ':': '%3A',
    '@': '%40',
    '&': '%26',
    '=': '%3D',
    '+': '%2B',
    '$': '%24',
    ',': '%2C',
    '/': '%2F',
    '?': '%3F',
    '#': '%23',
    '[': '%5B',
    ']': '%5D'
  );
  $new: $input;

  @each $search, $replace in $map {
    $new: str-replace($new, $search, $replace);
  }

  @return $new;
}

@function escape-svg($svg) {
  @return 'data:image/svg+xml;charset=utf-8,#{urlencode($svg)}';
}

// token getters

@function gray($key) {
  @return map-get($grays, $key);
}

@function color($key) {
  @return map-get($colors, $key);
}

@function font($key) {
  @return map-get($fonts, $key);
}

@function font-size($key) {
  @return map-get($font-sizes, $key);
}

@function font-weight($key) {
  @return map-get($font-weights, $key);
}

@function line-height($key) {
  @return map-get($line-heights, $key);
}

@function breakpoint($key) {
  @return map-get($breakpoints, $key);
}

@function spacing($key) {
  @return map-get($spacings, $key);
}

@function size($key) {
  @return map-get($sizes, $key);
}

@function border($key) {
  @return map-get($borders, $key);
}

@function radius($key) {
  @return map-get($radii, $key);
}

@function shadow($key) {
  @return map-get($shadows, $key);
}

@function z-index($key) {
  @return map-get($z-indices, $key);
}

@function transition($key) {
  @return map-get($transitions, $key);
}
