// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@import 'tokens';

$block-margin-bottom: spacing(3);
$border-width: 1px;
$border-color: gray(3);

// ## global
// ----------------------------------------

// ### body

$body-font-family: font(sans);
$body-font-size: font-size(medium);
$body-font-weight: font-weight(normal);
$body-line-height: line-height(normal);
$body-color: color(dark);
$body-bg: #f4f8fb;

// ### divider

$hr-margin: spacing(3);
$hr-height: $border-width;
$hr-color: currentColor;
$hr-opacity: 0.2;

// ### headings

$headings-margin-bottom: spacing(2);
$headings-font-family: null;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: null;

$h1-font-size: 2.5em;
$h2-font-size: 2em;
$h3-font-size: 1.75em;
$h4-font-size: 1.5em;
$h5-font-size: 1.25em;
$h6-font-size: 1em;

// ### paragraph

$paragraph-margin-bottom: $block-margin-bottom;

// ### list

$list-margin-bottom: $block-margin-bottom;
$list-padding: spacing(5);

// ### blockquote

$blockquote-margin-bottom: $block-margin-bottom;
$blockquote-padding-x: spacing(3);
$blockquote-padding-y: spacing(2);
$blockquote-border: 0.25rem solid tint(color(primary), 20%);

// ### pre

$pre-margin-bottom: $block-margin-bottom;
$pre-padding-x: spacing(3);
$pre-padding-y: spacing(2);

// ### table

$table-margin-bottom: $block-margin-bottom;
$table-cell-padding-x: spacing(2);
$table-cell-padding-y: spacing(2);
$table-cell-border: $border-width solid $border-color;

// ### link

$link-color: color(primary);
$link-decoration: none;
$link-hover-color: shade($link-color, 45%);
$link-hover-decoration: none;
$link-hover-opacity: 0.85;

// ## layout
// ----------------------------------------

// ### cover

$cover-height: 85vh;
$cover-mask-1: 0 / 4px
  url(escape-svg(
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 2" stroke="#000" stroke-linecap="square" stroke-width="0.5"><line x1="0" y1="1" x2="1" y2="0"/><line x1="1" y1="2" x2="2" y2="1"/></svg>'
  ));
$cover-mask-2: linear-gradient(
  rgba($body-bg, 0),
  rgba($body-bg, 0.4) 61.8%,
  $body-bg
);

// ### nav

$nav-height: 3rem;
$nav-color: color(light);
$nav-bg: color(dark);

$nav-brand-height: 1.5625rem;
$nav-brand-padding: spacing(2);
$nav-brand-font-size: font-size(large);

// $nav-scrolled-height: 3rem;
// $nav-scrolled-brand-height: 1.5625rem;
// $nav-scrolled-brand-font-size: font-size(large);

// ## components
// ----------------------------------------

$gap-width: spacing(5);

// ### container

$container-width: size(xl);
$container-padding: ($gap-width / 2);

// ### row

$row-margin: -($gap-width / 2);

// ### button

$btn-padding-x: spacing(3);
$btn-padding-y: spacing(2);
$btn-border: $border-width solid color(secondary);
$btn-radius: radius(medium);
$btn-bg: transparent;
$btn-color: color(secondary);
$btn-font-size: font-size(base);
$btn-line-height: line-height(normal);
$btn-focus-width: 0.25rem;

// ### card

$card-width: 18rem;
$card-margin: ($gap-width / 2);
$card-padding: spacing(3);
$card-radius: radius(medium);
$card-bg: #fff;
$card-shadow: shadow(light);
$card-hover-shadow: shadow(medium);
