// -----------------------------------------------------------------------------
// This file contains styles that are specific to the author page.
// -----------------------------------------------------------------------------

.author {
  &-avatar {
    border: spacing(1) solid color(muted);
    border-radius: radius(circle);
  }

  &-name {
    font-size: $h2-font-size !important;
  }
}
