// -----------------------------------------------------------------------------
// This file contains styles that are specific to the author page.
// -----------------------------------------------------------------------------

body.author {
}

.author-avatar {
  border: spacing(1) solid color(muted);
  border-radius: radius(circle);
}

h1.author-name {
  font-size: $h1-font-size;
}

p.author-bio {
}
