// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body.home {
  .site-cover {
    &::before {
      opacity: 0.3;
    }

    &::after {
      display: none;
    }
  }

  .site-heading {
    padding: 15vw 0;
  }

  .site-main {
    min-height: 80vh;
    background: $body-bg;
  }
}
