// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body.home {
  .site-cover {
    &::before {
      opacity: 0.3;
    }

    &::after {
      display: none;
    }
  }

  .site-heading {
    padding: 15vw 0;
  }

  .site-main {
    background: $body-bg;
  }
}


.home {
  &-section {
    padding: space(9) 0;

    &:nth-child(2n) {
      background: color(white);
    }

    &-header {
      margin-bottom: space(5);
      text-align: center;

      h2 {
        font-size: $h1-font-size;
        font-family: $font-family-sans-serif;
      }

      p {
        font-size: $font-size-large;
        font-weight: $font-weight-light;
      }
    }

    &-main {
      margin-bottom: space(3);
    }

    &-footer {
      text-align: center;

      a {
        display: inline-block;
        // @include button-size($btn-padding-y-lg, ($btn-padding-x-lg * 2.5), $font-size-lg, $btn-line-height-lg, 2rem);
        padding: space(2) space(4);
        font-size: $font-size-large;
        border-radius: 0.25rem;
        border: 1px solid color(secondary);
        color: color(secondary);
      }
    }
  }
}
