// -----------------------------------------------------------------------------
// This file contains styles that are specific to the page page.
// -----------------------------------------------------------------------------

body.page {
  .site-heading {
    padding: 6vw 0;
    color: $body-color;
    text-shadow: none;
  }
}

.page {
  &-cover {
    margin-bottom: spacing(3);
  }
}
