// -----------------------------------------------------------------------------
// This file contains styles that are specific to the page page.
// -----------------------------------------------------------------------------

body.page {
  .site-lead {
    padding: 6vw 0 4vw;
  }
}

.page {
  &-cover {
    margin-bottom: spacing(3);
  }

  &-content {
    margin-bottom: spacing(9);
    max-width: 50rem;

    img {
      display: block;
      margin: 0 auto;
    }
  }
}
