// -----------------------------------------------------------------------------
// This file contains styles that are specific to the page page.
// -----------------------------------------------------------------------------

body.page {
  .site-heading {
    padding: 6vw 4vw;
    color: color(dark);
    text-shadow: none;
  }
}

.page {
  &-cover {
    margin-bottom: space(3);
  }
}
