// -----------------------------------------------------------------------------
// This file contains styles that are specific to the post page.
// -----------------------------------------------------------------------------

body.post {
  .site-cover img {
    filter: blur(0.75rem);
    transform: translateZ(0) scale(1.0825);
  }
}

.post {
  &-header {
    padding: 8vw 4vw 5vw;
    color: color(white);
    text-align: center;
    text-shadow: 0 0 0.25rem color(dark);
  }

  &-title {
    // font-weight: $font-weight-normal;
    font-size: $h1-font-size * 1.25;
    font-family: $font-family-sans-serif;
    line-height: $line-height-default;
  }

  &-meta {
    text-transform: uppercase;

    a {
      color: inherit;
    }

    [role='separator']::before {
      display: inline-block;
      margin: 0 space(2);
      content: '\002f';
      vertical-align: text-top;
      font-size: $font-size-small;
      opacity: 0.6;
    }
  }

  &-cover {
    overflow: visible !important; // for box-shadow
    background: color(dark)
    linear-gradient(135deg, lighten(color(dark), 30), color(dark));

    &::before,
    &::after {
      position: absolute;
      top: 10%;
      z-index: -1;
      width: 1rem;
      height: 120%;
      background: rgba(gray(4), 0.5);
      content: '';
      filter: blur(1rem);
    }

    &::before {
      left: -0.5rem;
      transform: rotate(-1deg);
    }

    &::after {
      right: -0.5rem;
      transform: rotate(1deg);
    }
  }

  &-main {
    padding: 6% 10%;
    min-height: 65vh;
    background: $body-bg;
    font-size: calc(#{$font-size-medium} + 0.33vw);
    font-family: $font-family-serif;
    line-height: $line-height-loose;

    @include media-breakpoint-down(md) {
      padding: 3% 5%;
    }
    @include media-breakpoint-down(sm) {
      padding: 3% 3%;
    }

    .footnotes {
      overflow: hidden;
      margin-top: space(5);
      background: darken($body-bg, 3);
      font-size: $font-size-small;

      hr {
        margin-top: 0;
        opacity: 0.1;
      }

      p {
        display: inline-block;
      }
    }
  }

  &-footer {
    margin: 0 auto;
    padding: 3vw 0;
    max-width: 760px;
  }

  &-more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: space(3);

    svg {
      width: 1rem;
      height: 1rem;
      vertical-align: text-bottom;

      fill: none;
      stroke: currentColor;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2px;
    }

    a {
      color: color(accent);
    }
  }

  &-tags {
    display: flex;
    align-items: center;

    ul {
      margin: 0 0 0 space(1);
      padding: 0;
      list-style: none;
    }

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 0.25rem;

        &:after {
          content: '\002C';
        }
      }
    }

    a {
      &::before {
        content: '\0023';
      }
    }
  }

  &-share {
    display: flex;
    align-items: center;

    svg {
      margin-left: space(1);
    }
  }

  &-authors {
    margin-bottom: space(6);
    border-top: 1px solid color(light);

    .author {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: space(3) space(2);
    }

    .avatar {
      margin-right: space(3);
      max-width: 6rem;
      max-height: 6rem;
      border: 5px solid color(white);
      border-radius: 50%;
      box-shadow: 0 0 0.125rem color(secondary);
    }

    .content {
      flex: 1 0 10rem;
    }

    .link {
      display: inline-block;
      margin: 0 auto;
      padding: space(2) space(3);
      border: 1px solid color(muted);
    }

    .contributors {
      text-align: center;
      font-style: italic;
      font-size: $font-size-small;
      font-family: $font-family-serif;

      a:not(:last-child) {
        margin-right: 0.25rem;

        &:after {
          content: '\002C';
        }
      }
    }
  }

  &-license {
    margin-bottom: space(4);
    color: lighten(color(dark), 20);
    text-align: center;
    font-size: $font-size-large;

    a {
      color: inherit;
    }
  }

  &-related {
    padding-top: ($container-padding * 2);
    background: darken($body-bg, 3);

    .category {
      position: relative;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      padding: space(4);
      border-radius: 0.25rem;
      background: color(primary)
      linear-gradient(135deg, rgba(color(dark), 0.7), rgba(color(dark), 0.9));
      color: color(light);
      text-align: center;

      a {
        color: inherit;
      }
    }

    .category-header {
      margin-top: space(3);

      small {
        &::before,
        &::after {
          display: inline-block;
          margin: 0 space(2);
          content: '\2014';
        }
      }

      h3 {
        font-weight: $font-weight-light;
      }
    }

    .category-divider {
      margin-top: space(2);

      svg {
        width: 3rem;

        fill: none;
        stroke: #fff;
        stroke-opacity: 0.65;
        stroke-width: 0.5px;
      }
    }

    .category-posts {
      flex: 1;
      margin: space(3) space(3) 0;
      padding: 0;
      list-style: none;

      li {
        overflow: hidden;
        padding: space(3);
        text-overflow: ellipsis;
        white-space: nowrap;

        & + li {
          border-top: 1px solid color(secondary);
        }
      }
    }

    .category-footer {
      margin-top: space(3);
    }

    .row .category {
      flex: 1 1 18rem;
      margin: 0 $container-padding ($container-padding * 2);
    }
  }
}
