// -----------------------------------------------------------------------------
// This file contains styles that are specific to the post page.
// -----------------------------------------------------------------------------

.post {
  .site-cover img {
    filter: blur(0.75rem);
    transform: translateZ(0) scale(1.0825);
  }
}

.post-header {
  padding: 6vw 4vw;
  color: color(white);
  text-align: center;
  text-shadow: 0 0 space(1) color(dark);
  font-size: $font-size-large;

  h1 {
    font-size: $h1-font-size * 1.25;
    font-family: $font-family-sans-serif;
  }

  a {
    color: inherit;

    &:hover {
      border-bottom: 1px solid;
      opacity: 0.9;
    }
  }

  [role='separator']::before {
    display: inline-block;
    padding: 0 space(1);
    content: '/';
  }
}

.post-cover {
  overflow: visible !important;
  background: color(dark)
  linear-gradient(135deg, lighten(color(dark), 30), color(dark));

  &::before,
  &::after {
    position: absolute;
    top: 10%;
    z-index: -1;
    width: 1.25rem;
    height: 130%;
    background: rgba(gray(4), 0.5);
    content: '';
    filter: blur(1rem);
  }

  &::before {
    left: -0.5rem;
    transform: rotate(-1deg);
  }

  &::after {
    right: -0.5rem;
    transform: rotate(1deg);
  }
}

.post-content {
  padding: 6% 8%;
  min-height: 50vh;
  background: $body-bg;
  font-size: calc(#{$font-size-medium} + 0.33vw);
  font-family: $font-family-serif;
  line-height: $line-height-loose;

  .footnotes {
    overflow: hidden;
    background: gray(1);
    font-size: $font-size-small;

    hr {
      margin-top: 0;
      opacity: 0.1;
    }

    p {
      display: inline-block;
    }
  }
}

.post-footer {
  .tags {
    margin-right: auto;
    margin-bottom: space(4);
    margin-left: auto;
    padding: 0 8%;
    color: color(accent);
    text-align: center;

    ul {
      padding-left: 0;
      list-style: none;
    }

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 0.25rem;

        &:after {
          content: '\002C';
        }
      }
    }

    a {
      color: inherit;

      &:before {
        content: '\0023';
      }
    }
  }
}
