// -----------------------------------------------------------------------------
// This file contains styles that are specific to the tag page.
// -----------------------------------------------------------------------------

body.tag {
  .site-main {
    margin-bottom: spacing(7);
  }
}
