// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-bottom: space(3);
  border-radius: space(1);
  background: color(white);
  box-shadow: 0 space(2) space(3) rgba(color(dark), 0.15);
  transition: box-shadow 0.3s, transform 0.3s;

  a {
    color: inherit;
  }

  &:hover {
    box-shadow: 0 space(3) space(4) rgba(color(dark), 0.15);
    transform: translateZ(1px) scale(1.02);
  }
}

.card-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.card-image {
  background-color: color(light);
}

.card-content {
  display: flex;
  flex: 1 0 0;
  flex-direction: column;

  > header {
    padding: space(3) space(3) 0;

    span {
      color: color(secondary);
      text-transform: uppercase;
    }
  }

  > main {
    padding: 0 space(3);
  }

  > footer {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 0 space(3) space(3);

    ul {
      z-index: 2;
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      li ~ li {
        margin-left: -space(3);
        transition: margin-left 0.2s;
      }

      span {
        border: 2px solid color(light);
        border-radius: 50%;
        vertical-align: middle;
      }

      &:hover {
        li ~ li {
          margin-left: space(1);
        }
      }
    }

    small {
      margin-left: auto;
    }
  }
}
