// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

.card {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 0.25rem;
  background: color(white);
  box-shadow: 0 0.25rem 0.5rem rgba(color(dark), 0.15);
  transition: box-shadow 0.3s, transform 0.3s;

  &:hover {
    box-shadow: 0 0.25rem 1rem rgba(color(dark), 0.15);
    transform: translate(0, -0.25rem);
  }

  .row & {
    flex: 1 1 18rem;
    margin: 0 $container-padding ($container-padding * 2);
  }

  &-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &-image {
    max-height: 25rem;
    background-color: color(light);
  }

  &-content {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
  }

  &-header {
    padding: space(3) space(3) 0;

    > span {
      color: color(secondary);
      text-transform: uppercase;
    }

    > h3 {
      font-weight: $font-weight-bold;
    }
  }

  &-main {
    flex: 1 0 0;
    padding: 0 space(3);
  }

  &-footer {
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: space(3);

    > ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;

      li ~ li {
        margin-left: (0 - space(3));
        transition: margin-left 0.2s;
      }

      span {
        border: 2px solid color(light);
        border-radius: 50%;
        vertical-align: middle;
      }

      &:hover {
        li ~ li {
          margin-left: space(1);
        }
      }
    }
  }
}
