// -----------------------------------------------------------------------------
// This file contains global styles.
// -----------------------------------------------------------------------------

// all @font-face declarations, use typefaces instead
// -----------------------------------------------------------------------------

// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

// basic styles.
// -----------------------------------------------------------------------------

*,
::after,
::before {
  box-sizing: border-box;
}

::selection {
  background: rgba(color(primary), 0.6);
  color: color(white);
}

body {
  margin: 0;
  background-color: $body-bg;
  color: $body-color;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  font-family: $body-font-family;
  line-height: $body-line-height;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // better Font Rendering
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

figure {
  margin: 0;
}

hr {
  margin: space() 0;
  height: 1px;
  border: 0;
  background-color: currentColor;
  color: inherit;
  opacity: 0.25;
}

%heading {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  color: $headings-color;
  font-weight: $headings-font-weight;
  font-family: $headings-font-family;
  line-height: $headings-line-height;
}

h1 {
  font-size: $h1-font-size;

  @extend %heading;
}

h2 {
  font-size: $h2-font-size;

  @extend %heading;
}

h3 {
  font-size: $h3-font-size;

  @extend %heading;
}

h4 {
  font-size: $h4-font-size;

  @extend %heading;
}

h5 {
  font-size: $h5-font-size;

  @extend %heading;
}

h6 {
  font-size: $h6-font-size;

  @extend %heading;
}

p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;

  &:last-child {
    margin-bottom: 0;
  }
}

ol,
ul {
  padding-left: space(5);

  p {
    margin-bottom: 0;
  }
}

// li {}

// dl {}

// dt {}

dd {
  margin-left: space(5);
}

blockquote {
  margin: 0 0 space(3);
  padding: space(2) space(3);
  border-left: space(1) solid lighten(color(primary), 15);
}

// pre {}

table {
  width: 100%;
  margin: 0 0 space(3);
  border-collapse: collapse;
}

// tr {}

th,
td {
  padding: space(2) space(3);
  border: 1px solid color(muted);
}

// th {}

// td {}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    // color: darken($link-color, 10);
    opacity: 0.8;
  }
}

img {
  max-width: 100%;
  vertical-align: middle;
}

// code {}

// em {}

// strong {}

// delete {}

// b {}

// i {}

// CSS helper classes.
// -----------------------------------------------------------------------------

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: $container-padding;
  padding-left: $container-padding;
  max-width: $container-width;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: (- $container-padding);
  margin-right: (- $container-padding);
}

.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
  white-space: nowrap;
}
