// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// https://system-ui.com/theme
// -----------------------------------------------------------------------------

@import '../../node_modules/open-color/open-color.scss';

$grays: (
  0: $oc-gray-0,
  1: $oc-gray-1,
  2: $oc-gray-2,
  3: $oc-gray-3,
  4: $oc-gray-4,
  5: $oc-gray-5,
  6: $oc-gray-6,
  7: $oc-gray-7,
  8: $oc-gray-8,
  9: $oc-gray-9
);

$colors: (
  primary: $oc-blue-5,
  secondary: $oc-gray-6,
  accent: $oc-red-5,
  muted: $oc-gray-5,
  light: $oc-gray-2,
  dark: $oc-gray-8,
  white: $oc-white,
  black: $oc-black,
  blue: $oc-blue-5,
  indigo: $oc-indigo-5,
  purple: $oc-grape-5,
  pink: $oc-pink-5,
  red: $oc-red-5,
  orange: $oc-orange-5,
  yellow: $oc-yellow-5,
  green: $oc-green-5,
  teal: $oc-teal-5,
  cyan: $oc-cyan-5
);

$spaces: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 2rem,
  6: 2.5rem,
  7: 3rem,
  8: 4rem,
  9: 5rem
);

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// typography

$font-family-sans-serif: Source Sans Pro, system-ui, sans-serif;
$font-family-serif: Merriweather, Georgia, serif;
$font-family-monospace: Source Code Pro, Menlo, monospace;

$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$line-height-solid: 1;
$line-height-dense: 1.125;
$line-height-default: 1.5;
$line-height-loose: 1.75;

// global

$body-font-family: $font-family-sans-serif;
$body-font-size: $font-size-medium;
$body-font-weight: $font-weight-normal;
$body-line-height: $line-height-default;
$body-color: gray(7);
$body-bg: gray(0);

$headings-margin-bottom: space(2);
$headings-font-family: $font-family-serif;
$headings-font-weight: 500;
$headings-line-height: 1.2;
$headings-color: null;

$h1-font-size: 2.5em;
$h2-font-size: 2em;
$h3-font-size: 1.75em;
$h4-font-size: 1.5em;
$h5-font-size: 1.25em;
$h6-font-size: 1em;

$paragraph-margin-bottom: space();

$link-color: color(primary);

$container-width: 1040px; // 1140px;
