// -----------------------------------------------------------------------------
// This file contains all styles related to the tab component.
// -----------------------------------------------------------------------------

.tabs {
  margin: 0;
  padding: 0;
  border-bottom: border(default);
  list-style: none;

  > li {
    display: inline-block;

    > a {
      display: block;
      margin-bottom: (0 - $border-width);
      padding: spacing(2) spacing(3);
      border-bottom: border(default);
      color: gray(6);
      transition: border 0.3s;
    }

    &.active > a {
      border-color: gray(6);
      color: gray(7);
    }
  }
}

.tab-content {
  > .tab-panel {
    display: none;
    padding: spacing(3) 0;

    &.active {
      display: block;
    }
  }
}
