button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  @extend %button;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input[type='color'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime'],
input[type='datetime-local'],
input:not([type]),
textarea,
select {
  padding: $input-padding-y $input-padding-x;
  border: $input-border;
  border-radius: $input-radius;
  background-color: transparent;
  color: inherit;
  line-height: line-height(dense);
  transition: border-color 0.2s, box-shadow 0.2s;

  appearance: none;

  &:focus {
    outline: 0;
    border-color: $input-active-border-color;
    box-shadow: 0 0 0 $input-active-shadow-width
      rgba($input-active-border-color, 0.5);
  }
}

select {
  padding-right: $select-padding-right;
  background: $select-indicator center right no-repeat;

  &:focus {
    background-image: $select-active-indicator;
  }
}

// textarea {
//   min-height: 6.5rem;
// }

// label,
// legend {
//   display: block;
//   margin-bottom: 0.5rem;
//   font-weight: 700;
//   font-size: 1.6rem;
// }

// fieldset {
//   padding: 0;
//   border-width: 0;
// }

// input[type='checkbox'],
// input[type='radio'] {
//   display: inline;
// }
