// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $body-bg;
  color: $body-color;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  font-family: $body-font-family;
  line-height: $body-line-height;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // better Font Rendering
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

hr {
  margin: space() 0;
  height: 1px;
  border: 0;
  background-color: currentColor;
  color: inherit;
  opacity: 0.25;
}

%heading {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  color: $headings-color;
  font-weight: $headings-font-weight;
  font-family: $headings-font-family;
  line-height: $headings-line-height;
}

h1 {
  @extend %heading;
  font-size: $h1-font-size;
}

h2 {
  @extend %heading;
  font-size: $h2-font-size;
}

h3 {
  @extend %heading;
  font-size: $h3-font-size;
}

h4 {
  @extend %heading;
  font-size: $h4-font-size;
}

h5 {
  @extend %heading;
  font-size: $h5-font-size;
}

h6 {
  @extend %heading;
  font-size: $h6-font-size;
}

p {
  margin-top: 0;
  margin-bottom: $paragraph-margin-bottom;

  &:last-child {
    margin-bottom: 0;
  }
}

// ol {}

// ul {}

// li {}

// blockquote {}

// pre {}

// table {}

// tr {}

// th {}

// td {}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: darken($link-color, 10);
  }
}

img {
  vertical-align: middle;
}

// code {}

// em {}

// strong {}

// delete {}

// b {}

// i {}
