// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

.container {
  margin: 0 auto;
  padding: 0 space();
  max-width: 1140px;
}
