// -----------------------------------------------------------------------------
// This file contains reset / normalize styles.
// -----------------------------------------------------------------------------

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

figure {
  margin: 0;
}

::selection {
  background: rgba(color(primary), 0.6);
  color: yiq(color(primary));
}
